body {
	background-image: url("../imagens/fundo.jpg");
}

.caixa {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.texto {
	color: #FFFFFF;
	font-size: 20px;
	background: #000000;
	padding: 7px;
	border-radius: 5px;
	margin: 10px 0;
}

.entrada {
	width: 15%;
	padding: 10px 15px;
	font-size: 15px;
}

.figuras {
	display: flex;
}