body {
	background-image: url("../imagens/fundo.jpg");
}

.caixa {
	display: flex;
	flex-direction: column;
    align-items: center;
}

.titulo {
	background-color: #000000;
	color: #FFFFFF;
	padding: 7px;
	border-radius: 5px;
}

.texto {
	color: #FFFFFF;
	font-size: 20px;
	background: #000000;
	padding: 7px;
	border-radius: 5px;
	margin: 10px 0;
}

.entrada {
	width: 15%;
	padding: 10px 15px;
	font-size: 15px;
	border-radius: 5px;
	border-style: solid;
	border-color: #000000;
}

.entrada:focus {
	background-color: #000000;
	color: #FFFFFF;
}

.figuras {
	display: flex;
}

.botao {
	width: 10%;
	padding: 12px 0;
	margin: 20px 0;
	cursor: pointer;
	border-radius: 5px;
	border-style: solid;
	border-color: #000000;
	font-weight: bold;
}

.botao:hover {
	background-color: #000000;
	color: #FFFFFF;
	border-color: #FFFFFF;
}

@media screen and (min-width: 200px) and (max-width: 500px) {
	.titulo, .texto {
		text-align: center;
	}

	.entrada, .botao {
		width: 40%;
	}
}

@media screen and (min-width: 501px) and (max-width: 1240px) {
	
}